<a href="https://colab.research.google.com/github/sturu1/GA/blob/master/GA%EC%97%B0%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import csv

#Total weight capacity: 13743, item, weight, profit

In [33]:
df = pd.read_csv("/content/drive/My Drive/GA.csv", sep=",")
df.head()

  item  weight  profit
0    1    68.0   100.0
1    2    80.0    53.0
2    3    93.0    48.0
3    4    14.0    38.0
4    5    89.0    72.0

In [ ]:
Total_Profit = 0
Total_Weight = 0

In [24]:
def get_Max_Profit(df_list, capacity):
    df_list = sorted(df_list, key=lambda x: x[1] / x[0], reverse=True) #??
    details = list()
    
    for df in df_list:
        if Total_Weight > Total_Weight_capacity:
            Total_Weight = 0
        # else:
        #     fraction = capacity / df[0]
        #     Total_Profit += df[1] * fraction
        #     details.append([df[0], df[1], fraction])
        #     break
    return Total_Profit, details

In [ ]:
get_Max_Profit(df_list, 500)#??